body {
    background-color: #e2e8f0;
}

#container {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 40% 60%;
}

#sidebar {
    background-color: #1992d4;
    color: #fff;
    grid-row: 1 / span 2;
}

#sidebar ul {
    list-style-type: none;
}   

#header {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 40% 60%;
    background-color: #fff;
}

#header form {
    grid-row-start: 1;
    grid-column-start: 1;
}

#header #greeting {
    grid-row-start: 2;
    grid-column-start: 1;
}

#header #notifications {
    grid-row-start: 1;
    grid-column-start: 2;
}

#header #actions {
    display: grid;
    list-style-type: none;
    grid-template-columns: repeat(3, 1fr);
    grid-row-start: 2;
    grid-column-start: 2;
    text-align: center;
    align-items: center;
}

#header #actions li {
    background-color: #1992d4;
    color: #fff;
    border-radius: 25%;
}

#content {
    display: grid;
    grid-template-columns: 80% 20%;
    padding: 25px;
}

#content #projects {
    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    gap: 25px;
    margin-right: 25px;
}

.card {
    border-left: 5px solid #f0b429;
    padding: 20px;
}

#aside {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

.card, .news, .users {
    background-color: #fff;
}